body {
    color: white;
}

.par1,
.par2,
.par4,
.par5 {
    background-color: #653A2A;
}

.par2,
.par4,
.par5 {
    background-color: #411D13;
}

.premier {
    height: 70%;
    width: 200%;
}

.deuxieme {
    width: 100%;
    border-radius: 10px;
}

.troisieme,
.carre {
    width: 100%;
    border-radius: 10px;
}

.text-container3 {
    background-color: #653A2A;
    padding: 30px;
    border-radius: 10px;
}

/* Conteneur vidéo */
.video-background {
    position: relative;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; /* Met la vidéo en arrière-plan */
}

/* Overlay sombre */
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Filtre noir semi-transparent */
}

/* Card */
.text-container-card {
    background-color: #653A2A;
    color: white;
    padding: 40px;
    border-radius: 15px;
    max-width: 800px; /* Limite la largeur */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

header{
    background-color: #653A2A ;
}

.z-4{
    z-index: 500;
}